
body{
    background-image: url('icon/pexel.jpg');
    background-size: cover;

}
.login_body{
background-color: rgba(255, 255, 255, 0);
width: 500px;
height: 400px;
margin-left: 200px;
text-align: center;
padding-top: 30px;
border: 3px solid red ;
}

